<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" charset="utf8" content="width=device-width, initial-scale=1.0">
	<script src="js/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>  
	<script src="js/test.js" type="text/javascript"></script>
	<script src="plugins/chosen/chosen.jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="plugins/chosen/chosen.css" type="text/css"/>
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>

<div id ="show_content">

<div id ="header_text">Форма реєстрації</div>

	<form method="post" action="app/models/db_action_init.php" id ="register_form">
	
	<ul>

		<li>
			<input type="text" name ="name" autocomplete="off" class ="input"  placeholder ="ПІБ" maxlength="36" onkeyup="this.value=this.value.replace(/[^A-Za-zА-Яа-яЁёІіЇїЄє\s]/g,'');" value ="" autofocus>
		</li>
		<li>
			<input type="text" name ="email" autocomplete="off" class ="input" placeholder ="Email" maxlength="36"  value ="">
		</li>
		<li>
			<select data-placeholder="Оберіть область" style="width:200px;" name ="select_region" id ="select_region" class="chosen_0">
				
			</select>
		</li>
		<li id ="li_select_city" style ="display:none;">
			<select data-placeholder="Оберіть місто" style="width:200px;" name="select_city" id="select_city" class="chosen_1">	
			
			</select>
		</li>
		<li id ="li_select_district" style ="display:none;">
			<select data-placeholder="Оберіть район" style="width:200px;" name="select_district" id="select_district" class="chosen_2">	

			</select>
		</li>
		
	</ul>
	
	<button type="submit" id ="registration_button" title ="Записати в базу">Записати в базу</button>
	
	</form> 
	
<div id ="server-results"></div>

</div>

<div id ="loader" style ="text-align:center;"><img style ="width:177.777px;" src ="images/brain.gif"></div>

<div id ="intro_text" class ="greet_message" style ="font-size: 15px;width: 500px;margin: 0 auto;text-align:left;border-bottom: 2px solid #ccc !important;border: 1px solid #d1d1d1;margin-top: 30px;border-radius: 20px;padding-left: 20px;padding-right: 20px;padding-bottom: 30px;display:none;">

	<br><span style ="font-size: 22px;text-decoration: underline;">Список модификаций</span></br>
	<br>1. Модифицировал некоторые из SQL запросов.</br>
	<br>2. Переписал все с процедурного в объектно-ориентированный стиль.</br>
	<br>3. Избавился от тримов.</br>
	
</div>

</body>
</html>